version: 4
homeassistant:
  enabled: false
frontend:
  enabled: true
  port: 8082
  url: https://{{ zigbee2mqtt_auth_url }}.reminat.com
  auth_token: {{ zigbee2mqtt_auth_token }}
mqtt:
  base_topic: zigbee2mqtt
  server: {{ mqtt_server }}
  user: {{ mosquitto_user }}
  password: {{ mosquitto_password }}
  keepalive: 60
  reject_unauthorized: true
  version: 4
serial:
  port: {{ zigbee_bridge }}
  baudrate: 115200
  adapter: zstack
advanced:
  transmit_power: 18
  pan_id: {{ zigbee2mqtt.pan_id }}
  ext_pan_id: 
    {{ zigbee2mqtt.ext_pan_id | to_nice_yaml(indent=2) | indent(4) }}
  network_key: 
    {{ zigbee2mqtt.network_key | to_nice_yaml(indent=2) | indent(4) }}
devices:
{% if existing_config.devices is defined and existing_config.devices %}
  {{ existing_config.devices | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}