services:
  portainer:
    image: portainer/portainer-ce:2.26.1-alpine
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer-data:/data
    ports:
      - 9443:9443
    networks:
      - homelab_network

  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:2025.1
    volumes:
      - homeassistant-config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
      
networks:
  homelab_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

volumes:
{% for volume in docker_volumes %}
  {{ volume }}:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ ip_nas }},rw"
      device: ":/volume1/docker-volumes-{{ env }}/{{ volume }}"
{% endfor %}